.general{
    background-color: rgb(78, 78, 124);
    border-radius: 20px;
    border-color: rgb(194, 194, 228);
    width: 100%;
    margin-top: 3vh;
   
}
.tarjeta{
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 15%;
    height: 15%;
    border-radius: 5px;
}
.text{
    width: 80%;
}
.Title{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.p{
    font-size: 18px;
    text-align: justify;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}
.boton1{
    width: 30%;
    background-color: rgb(78, 78, 124);
    color: rgb(254, 254, 254);
    border-radius: 8px;
    border-color: rgb(156, 156, 184);
}
.boton2{
    width: 10%;
    background-color: red;
    border-radius: 20px;
}