*{
    margin: 0;
    padding: 0;
}
.barra{
    width: 80%;
    background-color: rgb(78, 78, 124);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    margin: auto;
    padding: 15px;
}
