*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: rgb(255, 255, 255);
  
}
h1,h2,h3,h4,h5,h6{
  color: white;

}
p{
  color: rgb(224, 224, 224);
}
.container{
  display: grid;
  width: 40%;
  max-width: 1280px;
  grid-row: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 3%;
  
}