.fondoval{
    background-image: url(../public/valor1.png);
    background-position: center;
    background-size: cover;
}
.fondoval2{
    background-image: url(../public/valor2.png);
    background-position: center;
    background-size: cover;
}
.fondoval3{
    background-image: url(../public/valor3.png);
    background-position: center;
    background-size: cover;
}
.fondoval4{
    background-image: url(../public/valor3.png);
    background-position: center;
    background-size: cover;
}



